@charset "utf-8";

@import url('lib/animated.css');
@import url('lib/jquery-ui-1.10.4.custom.min.css');
@import url('lib/swiper.css');
@import url('main.css');



/* ==============================
 * header
 * ============================== */
#headerWrap {position:relative; z-index:100; min-width:1200px; height:80px; background:#fff; border-bottom:3px solid #812990;}


/* menuAll 전체메뉴 */
.menuAll {position:absolute; top:0; left:0; z-index:2;}
.menuAll > .allBtn {position:absolute; top:22px; left:0; z-index:5; display:inline-block; width:36px; height:36px; overflow:hidden;}
.menuAll > .allBtn > span {position:absolute; top:50%; left:5px; margin-top:-1px; display:block; width:24px; height:2px; background:#252525; text-indent:-999px; transition:all 300ms ease-in-out;}
.menuAll > .allBtn > span:before {content:''; position:absolute; top:-10px; left:50%; transform:translate(-50%, 0); width:100%; height:100%; background-color:#252525; transition:all 300ms ease-in-out;}
.menuAll > .allBtn > span:after {content:''; position:absolute; top:10px; left:50%; transform:translate(-50%, 0); width:100%; height:100%; background-color:#252525; transition:all 300ms ease-in-out;}
.menuAll > .allBtn.on {border:1px solid #a5a5a5;}
.menuAll > .allBtn.on > span {background-color: transparent;}
.menuAll > .allBtn.on > span:before {top:0;	left:0; transform: rotate(140deg);}
.menuAll > .allBtn.on > span:after {top:0; left:0; transform: rotate(-140deg);}
.menuAll > .inner {position:absolute; top:0; left:0; width:1200px;}
.menuAll > .inner:after {content:''; position:absolute; top:77px; left:0; z-index:3; width:100%; border-bottom:3px solid #812990;}
.menuAll > .inner .amback {position:absolute; top:0; left:50%; z-index:-1; height:100%; background:#fff;}
.menuAll > .inner .amback:after {content:''; position:absolute; top:77px; left:0; z-index:3; width:100%; border-bottom:3px solid #812990;}


.menuAllList {display:none; padding:0 0 0 136px; height:435px; overflow:hidden; background:#fff; z-index:3;}
.menuAllList > li {float:left; width:245px;}
.menuAllList > li > h2 {font-weight:400; font-size:24px; color:#353535; line-height:80px;}
.allDept {padding:34px 0 0 0;}
.allDept > li {}
.allDept > li + li {margin-top:19px;}
.allDept > li > a {font-weight:400; font-size:17px; color:#353535;}
.allDept > li:hover > a {color:#812990;}
.allDept > li > .tit {font-weight:400; font-size:17px; color:#353535;}
.allDept > li:hover > .tit {color:#812990;}
.allDept > li > .allDeep {padding:13px 0 3px 0;}
.allDeep {}
.allDeep > li {position:relative; padding-left:10px; }
.allDeep > li + li {margin-top:8px;}
.allDeep > li:before {content:''; position:absolute; top:8px; left:0; width:4px; height:1px; background:#777;}
.allDeep > li:hover:before {background:#812990;}
.allDeep > li > a {color:#777;}
.allDeep > li:hover > a {color:#812990;}

.gnbWrap {position:relative; width:1200px; height:80px; margin:0 auto;}
.gnbWrap > .logo {display:inline-block; font-size:0; margin:14px 0 0 44px;}
.gnbWrap > .gnb {position:absolute; top:0; left:308px;}
.gnbWrap.on .gnbBack {display:block;}
.gnbBack {display:none; position:absolute; top:80px; left:50%; z-index:-1; height:225px; background:#fff;}

.gnbList {}
.gnbList:after {content:''; display:block; clear:both;}
.gnbList > li {float:left; padding:0 40px;}
.gnbList > li > h2 {font-weight:500; font-size:20px; color:#353535; line-height:80px;}
.gnbList > li.on > h2 {color:#812990;}
.gnbList > li > .inner {position:absolute; top:77px; left:-308px; width:1200px; height:228px; padding-top:3px; z-index:4; display:none; background:#fff;}
.gnbList > li > .inner:before {content:''; position:absolute; top:0; left:0; width:100%; border-bottom:3px solid #812990;}
.gnbList > li > .inner:after {content:''; display:block; clear:both;}
.gnbList > li > .inner > * {float:left; height:225px;}
.gnbList > li.on > .inner {display:block;}
.gnbList > li .titEle {width:301px; padding:31px 0 0 44px; border-right:1px solid #c5c5c5;}
.gnbList > li .titEle strong {position:relative; display:block; padding-bottom:18px; font-weight:400; font-size:24px; color:#353535;}
.gnbList > li .titEle strong:after {content:''; position:absolute; bottom:0; left:0; width:17px; border-bottom:2px solid #9a54a6;}
.gnbList > li .titEle span {display:block; margin-top:14px; color:#888; line-height:22px;}
.gnbList > li.ty1 .titEle {background:url(../images/common/bg_gnbty01.png) no-repeat right bottom 35px;}
.gnbList > li.ty2 .titEle {background:url(../images/common/bg_gnbty02.png) no-repeat right bottom 35px;}
.gnbList > li.ty3 .titEle {background:url(../images/common/bg_gnbty03.png) no-repeat right bottom 35px;}
.gnbList > li.ty4 .titEle {background:url(../images/common/bg_gnbty04.png) no-repeat right bottom 35px;}

.gnbList > li .listEle {width:300px; padding:31px 46px 0 47px; border-right:1px solid #c5c5c5;}
.gnbList > li .listEle li + li {margin-top:15px;}
.gnbList > li .listEle li a {position:relative; display:block; font-weight:400; font-size:16px; line-height:20px;}
.gnbList > li .listEle li a:after {content:''; position:absolute; top:5px; right:0; width:7px; height:12px; background:url(../images/common/bg_gnblist_arrow.png) no-repeat 0 0;}
.gnbList > li .listEle li a:hover, .gnbList > li .listEle li a:focus {color:#812990;}
.gnbList > li .listEle li a:hover:after, .gnbList > li .listEle li a:focus:after {background-position:0 -12px;}
.gnbList > li .bEle {width:369px; padding:35px 48px 0 48px;}
.gnbList > li .bEle .tips {display:block; text-align:center; font-weight:400; font-size:15px; color:#454545; line-height:46px; background:#f5f5f5; border:1px solid #d5d5d5;}
.gnbList > li .cEle {width:178px; padding:31px 0 0 14px; text-align:center;}
.gnbList > li .cEle .txt {font-weight:400; font-size:15px; line-height:22px;}
.gnbList > li .cEle .gngtel {display:inline-block; width:150px; margin-top:16px; border:2px solid #555; border-radius:45px; text-align:center;}
.gnbList > li .cEle .gngtel > span {display:inline-block; padding-left:24px; font-weight:400; font-size:18px; color:#353535; line-height:35px; background:url(../images/common/bg_gnbtel.png) no-repeat left center;}
.gnbList > li .cEle .qa {display:inline-block; width:150px; margin-top:20px; border:2px solid #812990; border-radius:45px; text-align:center;}
.gnbList > li .cEle .qa > span {display:inline-block; padding-left:24px; font-weight:400; font-size:18px; color:#812990; line-height:35px; background:url(../images/common/bg_gnbqa.png) no-repeat left center;}

/* gnb util */
.gnbWrap > .util {position:absolute; top:29px; right:0;}
.utilList {}
.utilList:after {content:''; display:block; clear:both;}
.utilList > li {float:left;}
.utilList > li.etc {position:relative;}
.utilList > li + li {margin-left:24px;}
.utilList > li > a {display:block; font-size:13px; color:#999; cursor:pointer; line-height:24px;}
.utilList > li:hover > a {color:#454545;}
.utilList > li.etc > span {position:relative; display:block; padding-right:10px; font-size:13px; color:#999; cursor:pointer; line-height:24px;}
.utilList > li:hover > span {color:#454545;}
.utilList > li.etc > span:after {content:''; position:absolute; top:10px; right:0; width:7px; height:4px; background:url(../images/common/bg_gnbdown.png) no-repeat 0 0;}
.utilList > li.etc:hover > span:after {background-position:0 -4px;}
.utilList > li.etc .inner {position:absolute; top:20px; left:50%; display:none; width:128px; margin-left:-64px; padding-top:7px;}
.utilList > li.etc .inner:before {content:''; position:absolute; top:0; left:50%; margin-left:-6px; border-bottom:7px solid #812990; border-left:6px solid transparent; border-right:6px solid transparent;}
.utilList > li.etc .inner:after {content:''; position:absolute; top:2px; left:50%; z-index:5; margin-left:-6px; border-bottom:7px solid #fff; border-left:6px solid transparent; border-right:6px solid transparent;}
.utilList > li.etc .inner ul {position:relative; padding:13px 0 15px 23px;; border:1px solid #812990; background:#fff; z-index:5;}
.utilList > li.etc .inner ul li {}
.utilList > li.etc .inner ul li + li {margin-top:10px;}
.utilList > li.etc .inner ul li a {font-size:13px; color:#454545;}
.utilList > li.etc .inner ul li a:hover {color:#812990;}
.utilList > li.etc:hover .inner {display:block;}
.utilList > li.etc2 {}
.utilList > li.etc2 span {display:inline-block; width:80px; line-height:24px; background:#bc34ba; font-size:13px; color:#fff; border-radius:45px; text-align:center;}
.utilList > li.etc2 .txt {position:absolute; top:33px; left:40px; z-index:5; display:none; padding:0 20px; transform:translate(-50%, 0%); line-height:53px; background:#353535; border:1px solid #252525; white-space:nowrap; border-radius:3px; font-size:12px; color:#f5f5f5;}
.utilList > li.etc2 .txt:before {content:''; position:absolute; top:-7px; left:50%; margin-left:-6px; border-bottom:7px solid #252525; border-left:6px solid transparent; border-right:6px solid transparent;}
.utilList > li.etc2 .txt:after {content:''; position:absolute; top:-5px; left:50%; z-index:5; margin-left:-6px; border-bottom:7px solid #353535; border-left:6px solid transparent; border-right:6px solid transparent;}
.utilList > li.etc2:hover .txt {display:block;}


#headerWrap.main {background:none; border-bottom:none;}
#headerWrap.main .menuAll > .inner:after {content:none;}
#headerWrap.main .menuAll > .inner .amback:after {content:none;}
#headerWrap.main .menuAll > .allBtn > span {background:#fff;}
#headerWrap.main .menuAll > .allBtn > span:before {background:#fff;}
#headerWrap.main .menuAll > .allBtn > span:after {background:#fff;}
#headerWrap.main .gnbWrap {border-bottom:1px solid #919697;}
#headerWrap.main .gnbList > li > h2 {color:#fff;}
#headerWrap.main .utilList > li > a {color:#c5c5c5;}
#headerWrap.main .utilList > li > span {color:#c5c5c5;}
#headerWrap.main .utilList > li.etc2 span {color:#fff;}

 /* ==============================
 * skip navigation
 * ============================== */
#skipnav a {display:block; height:1px; width:1px; margin:0 -1px -1px 0; padding:0; overflow:hidden; font-size:1px; line-height:0;}
#skipnav a:active,
#skipnav a:focus,
#skipnav a:hover {width:100%; height:auto; margin:0; adding:5px 0; text-indent:10px; font-weight:500; font-size: 13px; color:#333; line-height:1; text-decoration:none}


/* ==============================
 * footer
 * ============================== */
#footerWrap {position:absolute; right:0; bottom:0; left:0; min-width:1200px; height:220px; background-color:#222;}
#footerWrap .inner {width:1200px; margin:0 auto; color:#a4a4a4;}
.footerTop {padding:20px 0 28px 0; border-bottom:1px solid #444; overflow:hidden;}
.footerTop .footerLink {float:right; margin-top:22px;}
.footerTop .footerLink a {position:relative; display:block; float:left;}
.footerTop .footerLink a + a {padding-left:11px; margin-left:10px;}
.footerTop .footerLink a + a:after {content:''; position:absolute; top:2px; left:0; width:1px; border-bottom:10px solid #444;}
.footerTop .footerLink a span {color:#a4a4a4;}
.footerTop .footerLink a.etc span {color:#fefefe;}
.footerBottom {padding:27px 0 0 0;}
.footerBottom > p {font-size:0;}
.footerBottom > p span {display:inline-block; font-size:13px;}
.footerBottom > p span + span {margin-left:30px;}
.footerBottom > p + p {margin-top:7px;}
.footerBottom .copyright {font-size:11px; margin-top:25px;}


/* ==============================
 * windBanner
 * ============================== */
.wing {position:fixed; top:176px; right:0; z-index:120;}
.wing.down {z-index:90;}
.wing.on {position:absolute;}
.wing.none {display:none;}
.wing > ul {position:relative; width:80px;}
.wing > ul > li {position:relative; height:80px; transition:0.5s;}
.wing > ul > li + li a {border-top:none;}
.wing > ul > li:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:#fff; opacity:1;}
.wing > ul > li.etc {border-left:1px solid #999;}
.wing > ul > li.etc.on {border-left:1px solid #3d3d3d;}
.wing > ul > li.etc:before {content:none;}
.wing > ul > li.etc:after {content:''; position:absolute; bottom:0; left:0; width:100%; height:1px; border-bottom:1px solid #999; z-index:1;}
.wing > ul > li.on:before {content:''; position:absolute; top:0; left:0; z-index:2; width:100%; height:100%; background:#000; opacity:0.6;}
.wing > ul > li > a {position:relative; display:block; width:100%; height:80px; padding-top:13px; text-align:center; background:#fff; border:1px solid #999; border-right:none;}
.wing > ul > li > .inner {position:absolute; top:0; left:0; width:79px; overflow:hidden;}
.wing > ul li .call {position:relative; display:block; width:79px; height:80px; text-align:center; cursor:pointer;}
.wing > ul li .call:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:#fff; opacity:1; transition: 0.5s;}
.wing > ul li .call > span {position:relative; z-index:1; display:inline-block; padding-top:41px; margin-top:13px; font-size:13px; color:#777;}
.wing > ul li .call > span:before {content:''; position:absolute; top:0; left:50%; width:29px; height:33px; margin-left:-15px; background:url(../images/common/btn/bg_wing.png) no-repeat 0 0;}
.wing > ul li .call.on {border:none;}
.wing > ul li .call.on:before {background:#812990; opacity:0.5;}
.wing > ul li .call.on > span {font-size:14px; color:#fff;}
.wing > ul li .call.on > span:before {background-position:0 -33px;}

.wing > ul > li.etc2 {border:none;}
.wing > ul > li.etc2.on {}
.wing > ul > li.etc2.on:before {content:''; position:absolute; top:0; left:0; z-index:2; width:calc(100% - 1px); height:100%; background:#000; opacity:0.6;}
.wing > ul > li.etc2 > .inner {height:350px;}
.wing > ul li .call2 {position:relative; display:block; width:80px; height:80px; text-align:center; cursor:pointer; border-left:1px solid #999; border-bottom:1px solid #999;}
.wing > ul li .call2:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:#fff; opacity:1; transition: 0.5s;}
.wing > ul li .call2.on {border:none;}
.wing > ul li .call2 > .txt {position:relative; z-index:1; display:inline-block; padding-top:37px; margin-top:17px; font-size:13px; color:#777;}
.wing > ul li .call2 > .txt:before {content:''; position:absolute; top:0; left:50%; width:29px; height:33px; margin-left:-15px; background:url(../images/common/btn/bg_wing.png) no-repeat 0 -264px;}
.wing > ul li .call2 > .num {position:absolute; top:19px; right:15px; z-index:1; display:inline-block; width:20px; height:20px; background:#c3244e; border-radius:50%; text-align:center; line-height:20px; font-size:13px; color:#fff; transition: 0.5s;}
.wing > ul li .call2.on:before {background:#812990; opacity:0.5;}
.wing > ul li .call2.on > .txt {padding-top:39px; margin-top:15px; font-size:14px; color:#fff;}
.wing > ul li .call2.on > .txt:before {background-position:0 -297px;}
.wing > ul li .call2.on > .num {opacity:0;}
.wing > ul li .findShop > span {position:relative; z-index:1; display:inline-block; padding-top:41px; font-size:13px; color:#777;}
.wing > ul li .findShop > span:before {content:''; position:absolute; top:0; left:50%; width:29px; height:33px; margin-left:-15px; background:url(../images/common/btn/bg_wing.png) no-repeat 0 -66px;}
.wing > ul li .pageTop > span {position:relative; z-index:1; display:inline-block; padding-top:41px; font-size:13px; color:#b6985a;}
.wing > ul li .pageTop > span:before {content:''; position:absolute; top:0; left:50%; width:29px; height:33px; margin-left:-15px; background:url(../images/common/btn/bg_wing.png) no-repeat 0 -99px;}
.wing .cList {position:absolute; top:0; left:80px; z-index:3; width:349px;}
.wing .cList:before {content:''; position:absolute; top:35px; left:0; border-right:6px solid #fff; border-top:6px solid transparent; border-bottom:6px solid transparent; transition: 0.5s; opacity:0;}
.wing .cList.on:before {left:-6px; opacity:1;}
.wing .cList:after {content:''; display:block; clear:both;}
.wing .cList > li {float:left;}
.wing .cList > li > a {display:block; height:80px; padding-top:13px; text-align:center;}
.wing .cList > li > a:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:#fff; opacity:1;}
.wing .cList > li > a span {position:relative; z-index:1; display:inline-block; padding-top:41px; font-size:13px; color:#454545;}
.wing .cList > li > a span:before {content:''; position:absolute; top:0; left:50%; width:29px; height:33px; margin-left:-15px; background:url(../images/common/btn/bg_wing.png) no-repeat 0 0;}
.wing .cList > .ty1 {width:72px;}
.wing .cList > .ty1 span:before {background-position:0 -132px;}
.wing .cList > .ty2 {width:103px;}
.wing .cList > .ty2 span:before {background-position:0 -165px;}
.wing .cList > .ty3 {width:94px;}
.wing .cList > .ty3 span:before {background-position:0 -198px;}
.wing .cList > .ty4 {width:80px;}
.wing .cList > .ty4 span:before {background-position:0 -231px;}

.wing .itemHistory {position:absolute; top:0; left:80px; z-index:3; width:350px; background:#fff;}
.wing .itemHistory:before {content:''; position:absolute; top:35px; left:0; border-right:6px solid #fff; border-top:6px solid transparent; border-bottom:6px solid transparent; transition: 0.5s; opacity:0;}
.wing .itemHistory.on:before {left:-6px; opacity:1;}
.wing .itemHistory:after {content:''; display:block; clear:both;}

.itemHistory > .item {padding:27px 20px 55px 20px;}
.itemHistory > .item > .slick-dots {position:absolute; bottom:25px; left:0; width:100%; z-index:2; text-align:center;}
.itemHistory > .item > .slick-dots > li {display:inline-block; width:12px; height:12px; margin:0 4px; overflow:hidden; text-indent:-999px; background:#b2b2b2; border-radius:50%; cursor:pointer;}
.itemHistory > .item > .slick-dots > .slick-active {background:#9851a5;}
.itemHistory > .item > .slick-dots > li.etc {width:auto; height:auto; text-indent:0; background:none; border-radius:0;}

.hListWrap {border-top:1px solid #666; border-bottom:1px solid #666; outline:none;}
.hList {height:266px;}
.hList > li {position:relative; padding:15px 0; border-bottom:1px solid #a5a5a5;}
.hList > li:nth-child(3) {border-bottom:none;}
.hList > li > a {display:block;}
.hList > li > a .inner {display:table; width:100%; table-layout:fixed;}
.hList > li .thumb {display:table-cell; width:60px; height:60px; border:1px solid #d5d5d5; text-align:center; vertical-align:middle;}
.hList > li .thumb img {max-width:100%; max-height:100%;}

.hItem {padding-left:20px;}
.hItem > dt {font-weight:400; font-size:14px; color:#555; line-height:18px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.hItem > dd {padding-top:20px; overflow:hidden;}
.hItem > dd .txt {font-size:13px; color:#555;}
.hItem > dd .won {float:right; font-size:13px; color:#555;}
.hItem > dd .won .num {font-weight:400; font-size:13px; color:#812990;}

/* ==============================
 * Error
 * ============================== */
.errorPage {margin-top:140px; padding-top:95px; text-align:center; background:url(../images/common/bg_error.png) no-repeat center top;}
.errorPage > .tit {font-weight:500; font-size:90px; color:#353535;}
.errorPage > .txt1 {margin-top:140px; font-weight:500; font-size:20px; color:#333;}
.errorPage > .txt1.etc {margin-top:165px;}
.errorPage > .txt1 > strong {display:block; margin-top:9px; font-weight:500; font-size:30px; color:#812990;}
.errorPage > .txt2 {margin-top:24px; font-size:18px;}
.errorPage > .txt2 + .btnBox {margin-top:39px;}

@media screen and (max-width: 1214px) {
}

@media screen and (max-width:800px) {
}

@media screen and (max-width:640px) {
}