@charset "utf-8";


/* ==============================
 * common - 컨텐츠 공통
 * ============================== */
 


 /* ==============================
 * main
 * ============================== */
.mainVisual {position:relative; min-width:1200px; margin-top:-95px; min-height:950px; background:url(../images/main/img_mainvisual.jpg) no-repeat center; background-size:cover;}
.mainVisual h1 {padding-top:182px; font-family:'Raleway'; font-weight:800; font-size:54px; color:#fff; text-align:center;}
.mainVisual h2 {padding-top:8px; font-size:30px; color:#eaeaea; text-align:center;}

.mainLink {width:1200px; margin:0 auto; margin-top:45px; overflow:hidden;}
.mainFind {position:relative; width:564px; height:564px; float:left; padding-top:115px;}
.mainFind + .mainFind {margin-left:72px;}
.mainFind h3 {font-weight:400; font-size:30px; color:#fff; text-align:center; line-height:42px;}
.mainFind h3 + .desc {margin-top:24px;}
.mainFind .desc {position:relative; padding-top:22px; font-size:17px; color:#d5d5d5; text-align:center; line-height:30px;}
.mainFind .desc:after {content:''; position:absolute; top:0; left:50%; width:20px; margin-left:-10px; border-bottom:4px solid #fff;}
.mainFind .btnBox {margin-top:37px;}
.mainFind > .inner {position:relative; z-index:2;}
.mainFind > .bgImg {position:absolute; top:0; left:0; width:100%; height:100%; transition: all 0.65s;}
.mainFind > .bg2 {z-index:1; opacity:0;}
.mainFind:hover .bg1 {opacity: 0;}
.mainFind:hover .bg2 {opacity: 1;}
.mainVisual > .goPage {position:absolute; bottom:29px; left:50%; display:inline-block; width:150px; margin-left:-75px; padding-top:28px; background:url(../images/main/icon_gopage.png) no-repeat center top; text-align:center; cursor:pointer; font-size:13px; color:#fff;}

.mainSection {min-width:1200px; padding:0 0 70px 0;}
.mainSection > .inner {width:1200px; margin:0 auto; padding:62px 0 0 0;}
.mainSection > .inner h1 {font-family:'Raleway'; font-weight:800; font-size:36px; color:#333; text-align:center;}
.mainSection > .inner h2 {font-size:24px; color:#777; text-align:center;}
.mainSection > .inner h1 + h2 {margin-top:12px;}
.mainSection > .inner h2 + .itemWrap {margin-top:42px;}
.mainSection > .inner h2 + .rentalServiceLink {margin-top:48px;}
.mainSection.etc {position:relative; padding:0 0 66px 0; background:#f5f5f5;}
.mainSection.etc > .inner {padding:65px 0 0 0;}
.mainSection.etc > .inner h1 {font-family:'Noto Sans'; font-weight:500; font-size:32px; color:#333;}
.mainSection > .inner h1 + h2 {margin-top:12px;}
.mainSection > .inner h2 + .itemWrap {margin-top:42px;}

.serviceFlow {position:relative; margin-top:58px; text-align:center;}
.serviceFlow:after {content:''; position:absolute; top:62px; left:0; width:100%; border-bottom:1px solid #999;}
.serviceFlow > ol {display:inline-block; width:1200px; margin:0 auto; overflow:hidden;}
.serviceFlow > ol li {position:relative; z-index:1; padding-top:135px; width:126px; float:left;}
.serviceFlow > ol li:before {content:''; position:absolute; top:0; left:0; width:100%; height:126px; border:1px solid #999; border-radius:50%; background:#fff;}
.serviceFlow > ol li:after {content:''; position:absolute; top:33px; left:33px; width:60px; height:60px; background:blue; background:url(../images/main/img_servieflow.png) no-repeat 0 0;}
.serviceFlow > ol li.ty1:after {background-position:0 0;}
.serviceFlow > ol li.ty2:after {background-position:0 -60px;}
.serviceFlow > ol li.ty3:after {background-position:0 -120px;}
.serviceFlow > ol li.ty4:after {background-position:0 -180px;}
.serviceFlow > ol li.ty5:after {background-position:0 -240px;}
.serviceFlow > ol li.ty6:after {background-position:0 -300px;}
.serviceFlow > ol li.ty7:after {background-position:0 -360px;}
.serviceFlow > ol li + li {margin-left:53px;}
.serviceFlow > ol li > dl dt {text-align:center; font-weight:500; font-size:17px; color:#812990; white-space:nowrap;}
.serviceFlow > ol li > dl dd {text-align:center; font-size:15px;}
.serviceFlow > ol li > dl dt + dd {margin-top:12px;}
.serviceFlow > ol li > dl dt + dd span {display:block; white-space:nowrap;}
.serviceFlow > ol li > dl dt + dd span + span {font-size:15px; color:#666;}
.serviceFlow > ol li:nth-child(2) {animation-delay: 0.1s;}
.serviceFlow > ol li:nth-child(3) {animation-delay: 0.2s;}
.serviceFlow > ol li:nth-child(4) {animation-delay: 0.3s;}
.serviceFlow > ol li:nth-child(5) {animation-delay: 0.4s;}
.serviceFlow > ol li:nth-child(6) {animation-delay: 0.5s;}
.serviceFlow > ol li:nth-child(7) {animation-delay: 0.6s;}

.rentalServiceLink {overflow:hidden; border-top:1px solid #999; border-bottom:1px solid #999;}
.rentalServiceLink .rsl1 {padding:38px 39px 0 0; float:left; width:599px; height:270px; background:url(../images/main/bg_nexennew1.png) no-repeat; text-align:right;}
.rentalServiceLink .rsl1 > .txt {text-align:right; font-weight:400; font-size:26px; color:#222; line-height:34px;}
.rentalServiceLink .rsl1 .btnDiv1 {margin:14px 17px 0 0;}
.rentalServiceLink .rsl1 .rntService {display:inline-block; font-size:15px; color:#454545;}
.rentalServiceLink .rsl1 .btnDiv2 {margin:40px 0 0 0;}
.rentalServiceLink .rsl1 .tip {display:inline-block; width:220px; height:62px; padding:11px 0 0 16px; border:1px solid #666; border-radius:2px; background:#fff url(../images/main/bg_tipbtn.png) no-repeat right center; text-align:left; font-size:15px; color:#777;}
.rentalServiceLink .rsl1 .tip span {display:block; font-weight:500; font-size:16px; color:#812990;}

.rentalServiceLink .rsl2 {float:left; width:601px; border-left:1px solid #e5e5e5;}
.rentalServiceLink .rsl2 {overflow:hidden;}
.rentalServiceLink .rsl2 li {position:relative; float:left; width:300px; height:136px; padding:37px 0 0 40px;}
.rentalServiceLink .rsl2 li:nth-child(1) {background:#f5f5f5;}
.rentalServiceLink .rsl2 li:nth-child(4) {background:#f5f5f5;}
.rentalServiceLink .rsl2 li:nth-child(2n + 2) {border-left:1px solid #e5e5e5;}
.rentalServiceLink .rsl2 li:nth-child(-n + 2) {height:134px;}
.rentalServiceLink .rsl2 li > .txt {font-size:15px; line-height:19px;}
.rentalServiceLink .rsl2 li > .txt + .btnDiv {margin-top:11px;}
.rentalServiceLink .rsl2 li:after {content:''; position:absolute; top:40px; right:40px; width:65px; height:59px; background:url(../images/main/bg_nexennew2.png) no-repeat 0 0;}
.rentalServiceLink .rsl2 li.ty1:after {background-position:0 0;}
.rentalServiceLink .rsl2 li.ty2:after {background-position:0 -59px;}
.rentalServiceLink .rsl2 li.ty3:after {background-position:0 -118px;}
.rentalServiceLink .rsl2 li.ty4:after {background-position:0 -177px;}

.mainBandBanner {min-width:1200px; background:#422e5c;}
.mainBandBanner .inner {width:1200px; margin:0 auto;}
.mainBandBanner .inner .slick-prev {position:absolute; top:87px; left:-40px; width:25px; height:47px; background:url(../images/common/btn/btn_arrow2.png) no-repeat 0 0; text-indent:-999px; overflow:hidden;}
.mainBandBanner .inner .slick-next {position:absolute; top:87px; right:-40px; width:25px; height:47px; background:url(../images/common/btn/btn_arrow2.png) no-repeat 0 -47px; text-indent:-999px; overflow:hidden;}
.mainBandBanner .inner .slick-dots {position:absolute; bottom:18px; left:0; z-index:1; width:100%; text-align:center;}
.mainBandBanner .inner .slick-dots > li {display:inline-block; width:12px; height:12px; margin:0 4px; background:#8e829d; overflow:hidden; text-indent:-999px; border-radius:50%; cursor:pointer;}
.mainBandBanner .inner .slick-dots > .slick-active {background:#fff;}

.neCont {margin-top:48px; overflow:hidden;}
.neCont + .neCont {margin-top:36px;}
.neCont .mainCardBnr {position:relative; float:left; width:560px; height:250px; border:1px solid #999;}
.neCont .mainCardBnr .slick-dots {position:absolute; bottom:20px; left:0; width:100%; text-align:center;}
.neCont .mainCardBnr .slick-dots > li {display:inline-block; width:12px; height:12px; margin:0 4px; overflow:hidden; text-indent:-999px; background:#b2b2b2; border-radius:50%; cursor:pointer;}
.neCont .mainCardBnr .slick-dots > .slick-active {background:#9851a5;}
.neCont .mainYoutube {float:right; width:560px; height:250px; border:1px solid #999;}
.neCont .mainYoutube iframe {width:100%; height:100%;}

.neCont .neTable {position:relative; width:560px; float:left;}
.neCont .neTable + .neTable {margin-left:80px;}
.neCont .neTable h3 {font-weight:400; font-size:24px; color:#222;}
.neCont .neTable h3 + .noticeList {margin-top:21px;}
.neCont .neTable .viewMoreBtn {position:absolute; top:4px; right:0;}

.noticeList {border-top:1px solid #999; border-bottom:1px solid #999;}
.noticeList > li {position:relative; padding:0 93px 0 10px;}
.noticeList > li + li {border-top:1px dotted #999;}
.noticeList > li > a {display:block; font-size:16px; color:#666; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:49px;}
.noticeList > li .date {position:absolute; top:0; right:0; width:93px; text-align:center; font-size:15px; color:#888; line-height:49px;}

.mainCs {min-width:1200px; background:#f5f5f5;}
.mainCs .inner {width:1200px; height:120px; margin:0 auto; padding:39px 0 0 0; background:url(../images/main/bg_cs.png) no-repeat 67px 33px; vertical-align:top;}
.mainCs .inner h1 {position:relative; top:-14px; display:inline-block; font-weight:500; font-size:24px; color:#222;}
.mainCs .inner .txt {display:inline-block; margin-left:56px; font-weight:400; font-size:20px; color:#555;}
.mainCs .inner .txt span {display:block; padding-top:5px; font-size:16px; color:#888;}
.mainCs .inner .etc {float:right;}
.mainCs .inner .etc > * {float:left;}
.mainCs .inner .etc .btn {margin-left:10px;}

#mainWrap {position:relative; max-width:1980px; min-width:1200px; overflow:hidden;}
#mainWrap > .inner {width:calc(100% * 3); position:relative; top:0; left:-100%; overflow:hidden;}
.mainContent {width:calc(100% / 3); min-height:500px; float:left; overflow:hidden;}
.mainContent.leftCont {background:green; font-size:50px; color:#fff; font-weight:700; text-align:center;}
.mainContent.rightCont {}

.mainRightVisual {position:relative; min-width:1200px; margin-top:-95px; min-height:950px; background:url(../images/main/img_mainvisual_right.jpg) no-repeat center; background-size:cover;}
.mainRightVisual > .inner {position:relative; width:1200px; margin:0 auto;}
.mainRightVisual h1 {padding-top:188px; font-weight:400; font-size:40px; color:#fff; text-align:center;}
.mainRightVisual h2 {padding-top:13px; font-weight:100; font-size:30px; color:#e5e5e5; text-align:center;}
.centerGo {position:absolute; top:384px; left:0; display:inline-block; width:55px; height:151px; text-indent:-999px; overflow:hidden; background:url(../images/main/btn_main_right.png) no-repeat center;}
.mainRightVisual h2 + .typeSwitch {margin-top:36px;}


.typeSwitch {text-align:center;}
.typeSwitch > .inner {position:relative; display:inline-block; font-size:0; width:208px; height:68px; background:url(../images/main/bg_switch.png) no-repeat 0 0; overflow:hidden;}
.typeSwitch > .inner:after {content:''; position:absolute; top:0; left:0; width:118px; height:68px; background:url(../images/main/btn_switch.png) no-repeat 0 0; transition:left 200ms;}
.typeSwitch > .inner.on:after {left:90px;}
.typeSwitch > .inner > .switchBtn {position:relative; z-index:1; float:left; text-align:center;}
.typeSwitch > .inner > .switchBtn > label {display:inline-block; width:90px; font-size:24px; color:#fff; line-height:68px; text-align:center; transition: 0.45s; cursor:pointer;}
.typeSwitch > .inner > .switchBtn > input[type="radio"] {position:absolute; top:-20px; left:0;}
.typeSwitch > .inner > .switchBtn:nth-child(1) > label {padding-left:10px;}
.typeSwitch > .inner > .switchBtn:nth-child(2) > label {padding-right:10px;}
.typeSwitch > .inner > .switchBtn > input[type="radio"]:checked + label {width:118px; padding:0;}
.typeSwitch + .rankSelect {margin-top:67px;}

.rankSelect {height:338px;}
.rankSelect > .inner {width:944px; margin:0 auto;}
.rankSelect > .inner:after {content:''; display:block; clear:both;}
.rankSelect > .inner > .rankList {position:relative; top:119px; float:left; display:inline-block;}
.rankList {width:264px; border:4px solid #fff; border-radius:5px;}
.rankList + .rankList {margin-left:76px;}
.rankList > h3 {position:relative; padding:27px 0 29px 0; font-weight:400; font-size:30px; color:#fff; text-align:center;}
.rankList .dom {display:none;}
.rankList ul {position:relative; padding:24px 0 14px 0;}
.rankList ul:after {content:''; position:absolute; top:0; left:50%; margin-left:-10px; width:20px; border-top:4px solid #fff;}
.rankList ul > li {position:relative; overflow:hidden;}
.rankList ul > li > input[type="radio"] {position:absolute; top:-20px; left:0;}
.rankList ul > li > label {display:block; text-align:center; font-size:18px; color:#fff; transition: 0.3s; line-height:40px; cursor:pointer;}
.rankList ul > li > label:hover {font-weight:400; font-size:24px; background:#6d2477;}
.rankList ul > li > input[type="radio"]:checked + label {font-weight:400; font-size:24px; background:#6d2477;}
.rankSelect + .btnBox {margin-top:65px;}